.App {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 90px;  
}

.BoutonId {
    background: #E60000;
    color:white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    margin-right: 6px;
    font-size: 12px;
    margin:2px;
}
.MessageJoueur {    
    padding-left: 90px;  
    font-size: 48px;    
    padding-top: 40px;
    padding-bottom: 30px;

}

.Felicitation {
    padding-left: 90px; 
    font-size: 18px;   
    padding-bottom: 40px;

}

.NomJoueur{
    color: red;
    font-size: 48px;
}

.BlockCentral {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 90px;  
}

.DCanvas{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.Resultat{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

